USE [master]
GO
/****** Object:  Database [IngenieriaSoftware]    Script Date: 04/11/2024 03:41:59 p.m. ******/
CREATE DATABASE [IngenieriaSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngenieriaSoftware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PCSANTI\MSSQL\DATA\IngenieriaSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngenieriaSoftware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PCSANTI\MSSQL\DATA\IngenieriaSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngenieriaSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngenieriaSoftware]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[NumTelefono] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [nvarchar](20) NOT NULL,
	[DVH] [varchar](64) NULL,
	[DVV] [varchar](64) NULL,
 CONSTRAINT [PK_DV] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[CodEvento] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Fecha] [nvarchar](10) NOT NULL,
	[Hora] [nvarchar](8) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Evento] [nvarchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[CodEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[CodFactura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[PrecioTotal] [int] NOT NULL,
	[MetodoPago] [nvarchar](20) NOT NULL,
	[Banco] [nvarchar](50) NULL,
	[MarcaTarjeta] [nvarchar](30) NULL,
	[TipoTarjeta] [nvarchar](20) NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[CodFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[CodFamilia] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Tipo] [bit] NOT NULL,
	[CodPermiso] [int] NULL,
	[CodComp] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ISBN] [nvarchar](17) NOT NULL,
	[CodFactura] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[CodFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemOrden]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemOrden](
	[ISBN] [nvarchar](17) NOT NULL,
	[CodOrdenCompra] [int] NOT NULL,
	[Cotizacion] [float] NOT NULL,
	[StockCompra] [int] NOT NULL,
	[StockRecepcion] [int] NULL,
	[FechaEntrega] [datetime] NULL,
	[CodFactura] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemSolicitud]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSolicitud](
	[ISBN] [nvarchar](17) NOT NULL,
	[CodSolicitud] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[ISBN] [nvarchar](17) NOT NULL,
	[Autor] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[MaxStock] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro_C]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro_C](
	[ISBN] [nvarchar](17) NOT NULL,
	[Fecha] [nvarchar](10) NOT NULL,
	[Hora] [nvarchar](8) NOT NULL,
	[Autor] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[EstadoActual] [bit] NOT NULL,
	[MaxStock] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[Activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[CodOrdenCompra] [int] IDENTITY(1,1) NOT NULL,
	[CUIT] [nvarchar](11) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[PrecioTotal] [float] NOT NULL,
	[NumTransaccion] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_OrdenCompra] PRIMARY KEY CLUSTERED 
(
	[CodOrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[CodPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[CodPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[CUIT] [nvarchar](11) NOT NULL,
	[RazonSocial] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[NumTelefono] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NULL,
	[CuentaBancaria] [nvarchar](34) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[CUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorSolicitud]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorSolicitud](
	[CUIT] [nvarchar](11) NOT NULL,
	[CodSolicitud] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudCotizacion]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudCotizacion](
	[CodSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
 CONSTRAINT [PK_SolicitudCotizacion] PRIMARY KEY CLUSTERED 
(
	[CodSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[NumTelefono] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Contraseña] [nvarchar](128) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Desactivado] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [NumTelefono], [Activo]) VALUES (10000000, N'Thomas', N'Shelby', N'OD1v101YadvlZAawty8Jig==', N'peaky@blinders.com', N'35423524632', 1)
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [NumTelefono], [Activo]) VALUES (10000001, N'sda', N'sa', N'HtulEckGkUVAlLbGNSKXVQ==', N'sad@fasw', N'35223626436', 1)
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Direccion], [Email], [NumTelefono], [Activo]) VALUES (10000002, N'aaa', N'sdaffd', N'AyEx11iByAWDZw/qieSpSg==', N'rhgyyh@ed', N'2464267752', 0)
GO
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Cliente', N'b79110a1b6af973290eec4bfd4d494f838d8beb596e1566b60fe37f93cf42c1e', N'8dca461a090d56ec47974944583d9eeecdf71fe74a1941ff14794ed1754b839b')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Factura', N'fe04019e25b2f1b0c71378f8a96eaf36e059af50d2009704e9fe75ce5fece3a7', N'7348bb896dcfb4e326131875561b5d682adc1967926969db7dd19c18f2cc1687')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Item', N'7527b5f99aabf827c2ea044b03f6d75a68c0c9fc0c592961b4f6f178cb867ad5', N'9f64700ba2fc7fef6463b52e9f2e259a91a1b3140df499a0fa61853fd294d455')
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([CodEvento], [Login], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (33, N'a', N'2024-08-18', N'14:51:17', N'Sesiones', N'Inicio de sesión', 1)
INSERT [dbo].[Evento] ([CodEvento], [Login], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (34, N'a', N'2024-08-18', N'14:51:21', N'Sesiones', N'Cierre de sesión', 1)
INSERT [dbo].[Evento] ([CodEvento], [Login], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (35, N'a', N'2024-08-18', N'14:51:27', N'Sesiones', N'Inicio de sesión', 1)
GO
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([CodFactura], [Fecha], [PrecioTotal], [MetodoPago], [Banco], [MarcaTarjeta], [TipoTarjeta], [DNI]) VALUES (4, CAST(N'2024-05-06T23:57:00' AS SmallDateTime), 11000, N'Efectivo', NULL, NULL, NULL, 10000000)
INSERT [dbo].[Factura] ([CodFactura], [Fecha], [PrecioTotal], [MetodoPago], [Banco], [MarcaTarjeta], [TipoTarjeta], [DNI]) VALUES (6, CAST(N'2024-06-06T00:20:00' AS SmallDateTime), 5000, N'Efectivo', NULL, NULL, NULL, 10000000)
INSERT [dbo].[Factura] ([CodFactura], [Fecha], [PrecioTotal], [MetodoPago], [Banco], [MarcaTarjeta], [TipoTarjeta], [DNI]) VALUES (13, CAST(N'2024-06-19T17:17:00' AS SmallDateTime), 15000, N'Efectivo', NULL, NULL, NULL, 10000000)
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
INSERT [dbo].[Familia] ([CodFamilia], [Nombre], [Tipo], [CodPermiso], [CodComp]) VALUES (101, N'Admin', 1, 1, NULL)
INSERT [dbo].[Familia] ([CodFamilia], [Nombre], [Tipo], [CodPermiso], [CodComp]) VALUES (101, N'Admin', 1, 2, NULL)
INSERT [dbo].[Familia] ([CodFamilia], [Nombre], [Tipo], [CodPermiso], [CodComp]) VALUES (101, N'Admin', 1, 3, NULL)
GO
INSERT [dbo].[Item] ([ISBN], [CodFactura], [Cantidad]) VALUES (N'09788417292768', 4, 2)
INSERT [dbo].[Item] ([ISBN], [CodFactura], [Cantidad]) VALUES (N'09788417292768', 6, 1)
INSERT [dbo].[Item] ([ISBN], [CodFactura], [Cantidad]) VALUES (N'09788417292768', 13, 3)
GO
INSERT [dbo].[ItemOrden] ([ISBN], [CodOrdenCompra], [Cotizacion], [StockCompra], [StockRecepcion], [FechaEntrega], [CodFactura]) VALUES (N'09788417356330', 1, 2, 2, 2, CAST(N'2024-11-04T11:57:18.283' AS DateTime), N'2')
INSERT [dbo].[ItemOrden] ([ISBN], [CodOrdenCompra], [Cotizacion], [StockCompra], [StockRecepcion], [FechaEntrega], [CodFactura]) VALUES (N'09788417537401', 1, 3, 3, 1, CAST(N'2024-11-04T11:57:08.463' AS DateTime), N'1')
INSERT [dbo].[ItemOrden] ([ISBN], [CodOrdenCompra], [Cotizacion], [StockCompra], [StockRecepcion], [FechaEntrega], [CodFactura]) VALUES (N'09788417490751', 1, 2, 1, 1, CAST(N'2024-11-04T11:50:24.407' AS DateTime), N'53264')
GO
INSERT [dbo].[ItemSolicitud] ([ISBN], [CodSolicitud]) VALUES (N'09788417292768', 3)
INSERT [dbo].[ItemSolicitud] ([ISBN], [CodSolicitud]) VALUES (N'09788417292768', 4)
GO
INSERT [dbo].[Libro] ([ISBN], [Autor], [Nombre], [Precio], [Stock], [Activo], [MaxStock], [MinStock]) VALUES (N'09788417292768', N'Akira Toriyama', N'Dragon Ball Super 01', 5000, 999, 0, 5000, 1000)
INSERT [dbo].[Libro] ([ISBN], [Autor], [Nombre], [Precio], [Stock], [Activo], [MaxStock], [MinStock]) VALUES (N'09788417356330', N'Akira Toriyama', N'Dragon Ball Super 02', 5500, 2197, 1, 5000, 1000)
INSERT [dbo].[Libro] ([ISBN], [Autor], [Nombre], [Precio], [Stock], [Activo], [MaxStock], [MinStock]) VALUES (N'09788417356934', N'Akira Toriyama', N'Dragon Ball Super 03', 6000, 1793, 1, 5000, 1000)
GO
INSERT [dbo].[Libro_C] ([ISBN], [Fecha], [Hora], [Autor], [Nombre], [Precio], [Stock], [EstadoActual], [MaxStock], [MinStock], [Activo]) VALUES (N'09788417356330', N'2024-10-17', N'14:57:21', N'Akira Toriyama', N'Dragon Ball Super 02', 5500, 2197, 0, 5000, 1000, 1)
INSERT [dbo].[Libro_C] ([ISBN], [Fecha], [Hora], [Autor], [Nombre], [Precio], [Stock], [EstadoActual], [MaxStock], [MinStock], [Activo]) VALUES (N'09788417292768', N'2024-10-17', N'15:38:38', N'Akira Toriyama', N'Dragon Ball Super 01', 5000, 999, 0, 5000, 1000, 1)
INSERT [dbo].[Libro_C] ([ISBN], [Fecha], [Hora], [Autor], [Nombre], [Precio], [Stock], [EstadoActual], [MaxStock], [MinStock], [Activo]) VALUES (N'09788417356934', N'2024-10-22', N'15:15:48', N'Akira Toriyama', N'Dragon Ball Super 03', 6000, 1793, 0, 5000, 1000, 1)
GO
SET IDENTITY_INSERT [dbo].[OrdenCompra] ON 

INSERT [dbo].[OrdenCompra] ([CodOrdenCompra], [CUIT], [FechaCreacion], [PrecioTotal], [NumTransaccion]) VALUES (1, N'11111111111', CAST(N'2024-10-22T17:20:22.907' AS DateTime), 15, N'082208220822082208220822082208')
INSERT [dbo].[OrdenCompra] ([CodOrdenCompra], [CUIT], [FechaCreacion], [PrecioTotal], [NumTransaccion]) VALUES (2, N'11111111111', CAST(N'2024-10-29T20:11:03.517' AS DateTime), 1, N'111')
INSERT [dbo].[OrdenCompra] ([CodOrdenCompra], [CUIT], [FechaCreacion], [PrecioTotal], [NumTransaccion]) VALUES (3, N'11111111111', CAST(N'2024-10-30T16:49:18.503' AS DateTime), 4, N'546546')
SET IDENTITY_INSERT [dbo].[OrdenCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([CodPermiso], [Nombre]) VALUES (1, N'gestionDeUsuarios')
INSERT [dbo].[Permiso] ([CodPermiso], [Nombre]) VALUES (2, N'gestionDePerfiles')
INSERT [dbo].[Permiso] ([CodPermiso], [Nombre]) VALUES (3, N'gestionDeLibros')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Proveedor] ([CUIT], [RazonSocial], [Nombre], [Email], [NumTelefono], [Direccion], [CuentaBancaria], [Activo]) VALUES (N'11111111111', N'Ivrea', N'Ivrea', N'ivrea@gmail.com', N'65469846985', N'Laprida 2001', N'hola', 1)
GO
INSERT [dbo].[ProveedorSolicitud] ([CUIT], [CodSolicitud]) VALUES (N'11111111111', 3)
INSERT [dbo].[ProveedorSolicitud] ([CUIT], [CodSolicitud]) VALUES (N'11111111111', 4)
GO
SET IDENTITY_INSERT [dbo].[SolicitudCotizacion] ON 

INSERT [dbo].[SolicitudCotizacion] ([CodSolicitud], [FechaEmision]) VALUES (3, CAST(N'2024-10-22T15:01:47.353' AS DateTime))
INSERT [dbo].[SolicitudCotizacion] ([CodSolicitud], [FechaEmision]) VALUES (4, CAST(N'2024-10-30T16:48:57.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[SolicitudCotizacion] OFF
GO
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [FechaNac], [Email], [NumTelefono], [Username], [Contraseña], [Rol], [Bloqueado], [Desactivado], [IntentosFallidos]) VALUES (10000000, N'Goku', N'Son', CAST(N'1984-12-03' AS Date), N'goku@DB.com', N'15263625145', N'Kakaroto', N'5e26dc5a4c5f50b0234f55c6cd49f31dfd00845f1b63e3b3b28cc468df17aed7', N'Vendedor', 0, 0, 0)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [FechaNac], [Email], [NumTelefono], [Username], [Contraseña], [Rol], [Bloqueado], [Desactivado], [IntentosFallidos]) VALUES (10000001, N'Goten', N'Son', CAST(N'1994-05-22' AS Date), N'GOTEN@DBZ.com', N'469478463549', N'SaiyamanX2', N'b26b2b03dcd92d9c3646a203d8f5d25cbfa8c117ea3ea07faa2549164541dfcf', N'Vendedor', 0, 0, 1)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [FechaNac], [Email], [NumTelefono], [Username], [Contraseña], [Rol], [Bloqueado], [Desactivado], [IntentosFallidos]) VALUES (10000055, N'Luffy', N'Monkey D.', CAST(N'1999-05-22' AS Date), N'luffy@gmail.com', N'14564645463', N'luffy123', N'c849095a0da9be5f9a884928705674bc410e85fd1f285bc61edbbddf428e3c4a', N'Vendedor', 0, 0, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [IX_Usuario] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([Login])
REFERENCES [dbo].[Usuario] ([Username])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([DNI])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Permiso] FOREIGN KEY([CodPermiso])
REFERENCES [dbo].[Permiso] ([CodPermiso])
GO
ALTER TABLE [dbo].[Familia] CHECK CONSTRAINT [FK_Familia_Permiso]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Factura] FOREIGN KEY([CodFactura])
REFERENCES [dbo].[Factura] ([CodFactura])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Factura]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Libro] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Libro] ([ISBN])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Libro]
GO
ALTER TABLE [dbo].[ItemOrden]  WITH CHECK ADD  CONSTRAINT [FK_ItemOrden_Libro] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Libro] ([ISBN])
GO
ALTER TABLE [dbo].[ItemOrden] CHECK CONSTRAINT [FK_ItemOrden_Libro]
GO
ALTER TABLE [dbo].[ItemOrden]  WITH CHECK ADD  CONSTRAINT [FK_ItemOrden_OrdenCompra] FOREIGN KEY([CodOrdenCompra])
REFERENCES [dbo].[OrdenCompra] ([CodOrdenCompra])
GO
ALTER TABLE [dbo].[ItemOrden] CHECK CONSTRAINT [FK_ItemOrden_OrdenCompra]
GO
ALTER TABLE [dbo].[ItemSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ItemSolicitud_Libro] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Libro] ([ISBN])
GO
ALTER TABLE [dbo].[ItemSolicitud] CHECK CONSTRAINT [FK_ItemSolicitud_Libro]
GO
ALTER TABLE [dbo].[ItemSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ItemSolicitud_SolicitudCotizacion] FOREIGN KEY([CodSolicitud])
REFERENCES [dbo].[SolicitudCotizacion] ([CodSolicitud])
GO
ALTER TABLE [dbo].[ItemSolicitud] CHECK CONSTRAINT [FK_ItemSolicitud_SolicitudCotizacion]
GO
ALTER TABLE [dbo].[Libro_C]  WITH CHECK ADD  CONSTRAINT [FK_Libro_C_Libro] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Libro] ([ISBN])
GO
ALTER TABLE [dbo].[Libro_C] CHECK CONSTRAINT [FK_Libro_C_Libro]
GO
ALTER TABLE [dbo].[OrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCompra_Proveedor] FOREIGN KEY([CUIT])
REFERENCES [dbo].[Proveedor] ([CUIT])
GO
ALTER TABLE [dbo].[OrdenCompra] CHECK CONSTRAINT [FK_OrdenCompra_Proveedor]
GO
ALTER TABLE [dbo].[ProveedorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorSolicitud_Proveedor] FOREIGN KEY([CUIT])
REFERENCES [dbo].[Proveedor] ([CUIT])
GO
ALTER TABLE [dbo].[ProveedorSolicitud] CHECK CONSTRAINT [FK_ProveedorSolicitud_Proveedor]
GO
ALTER TABLE [dbo].[ProveedorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorSolicitud_SolicitudCotizacion] FOREIGN KEY([CodSolicitud])
REFERENCES [dbo].[SolicitudCotizacion] ([CodSolicitud])
GO
ALTER TABLE [dbo].[ProveedorSolicitud] CHECK CONSTRAINT [FK_ProveedorSolicitud_SolicitudCotizacion]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoLibro]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarEstadoLibro]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@Autor nvarchar(50),
	@Nombre nvarchar(50),
	@Precio int,
	@Stock int,
	@MaxStock int,
	@MinStock int,
	@Activo bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Libro SET Autor = @Autor, Nombre = @Nombre, Precio = @Precio, Stock = @Stock, MaxStock = @MaxStock, MinStock = @MinStock, Activo = @Activo WHERE ISBN = @ISBN

END
GO
/****** Object:  StoredProcedure [dbo].[BloqueoUsuarioDNI]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BloqueoUsuarioDNI]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Bloqueado bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Bloqueado = @Bloqueado, IntentosFallidos = 0 WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[BloqueoUsuarioUsername]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BloqueoUsuarioUsername]
	-- Add the parameters for the stored procedure here
	@Username nvarchar(20),
	@Bloqueado bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Bloqueado = @Bloqueado WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivacionCliente]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DesactivacionCliente]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Activo bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Cliente SET Activo = @Activo WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivacionLibro]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DesactivacionLibro]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@Activo bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Libro SET Activo = @Activo WHERE ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivacionUsuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DesactivacionUsuario]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Desactivado bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Desactivado = @Desactivado WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarUsuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DesactivarUsuario]
	-- Add the parameters for the stored procedure here
	@DNI int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Desactivado = 1 WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCliente]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarCliente]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Direccion nvarchar(100),
	@Email nvarchar(320),
	@NumTelefono nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Cliente(DNI, Nombre, Apellido, Direccion, Email, NumTelefono) VALUES (@DNI, @Nombre, @Apellido, @Direccion, @Email, @NumTelefono)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarEvento]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarEvento]
	-- Add the parameters for the stored procedure here
	@Login nvarchar(20),
	@Fecha nvarchar(50),
	@Hora nvarchar(50),
	@Modulo nvarchar(50),
	@Evento nvarchar(100),
	@Criticidad int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Evento(Login, Fecha, Hora, Modulo, Evento, Criticidad) VALUES (@Login, @Fecha, @Hora, @Modulo, @Evento, @Criticidad)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarFacturaEfectivo]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarFacturaEfectivo]
	-- Add the parameters for the stored procedure here
	@Fecha smalldatetime,
	@PrecioTotal int,
	@MetodoPago nvarchar(20),
	@DNI int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Factura(Fecha, PrecioTotal, MetodoPago, DNI) VALUES (@Fecha, @PrecioTotal, @MetodoPago, @DNI)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarFacturaTarjeta]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarFacturaTarjeta]
	-- Add the parameters for the stored procedure here
	@Fecha smalldatetime,
	@PrecioTotal int,
	@MetodoPago nvarchar(20),
	@Banco nvarchar(50),
	@MarcaTarjeta nvarchar(30),
	@TipoTarjeta nvarchar(20),
	@DNI int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Factura(Fecha, PrecioTotal, MetodoPago, Banco, MarcaTarjeta, TipoTarjeta, DNI) VALUES (@Fecha, @PrecioTotal, @MetodoPago, @Banco, @MarcaTarjeta, @TipoTarjeta, @DNI)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarLibro]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarLibro]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@Autor nvarchar(50),
	@Nombre nvarchar(50),
	@Precio int,
	@Stock int,
	@MaxStock int,
	@MinStock int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Libro(ISBN, Autor, Nombre, Precio, Stock, Activo, MaxStock, MinStock) VALUES (@ISBN, @Autor, @Nombre, @Precio, @Stock, 1, @MaxStock, @MinStock)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarOrdenCompra]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarOrdenCompra]
	-- Add the parameters for the stored procedure here
	@CUIT nvarchar(11),
	@FechaCreacion datetime,
	@PrecioTotal int,
	@NumTransaccion nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO OrdenCompra(CUIT, FechaCreacion, PrecioTotal, NumTransaccion) VALUES (@CUIT, @FechaCreacion, @PrecioTotal, @NumTransaccion)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarSolicitudCotizacion]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarSolicitudCotizacion]
	-- Add the parameters for the stored procedure here
	@Fecha datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO SolicitudCotizacion(FechaEmision) VALUES (@Fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarUsuario]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@FechaNac date,
	@Email nvarchar(320),
	@NumTelefono nvarchar(50),
	@Username nvarchar(20),
	@Contraseña nvarchar(128),
	@Rol nvarchar(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Usuario(DNI, Nombre, Apellido, FechaNac, Email, NumTelefono, Username, Contraseña, Rol, Bloqueado, Desactivado, IntentosFallidos) VALUES (@DNI, @Nombre, @Apellido, @FechaNac, @Email, @NumTelefono, @Username, @Contraseña, @Rol, 0, 0, 0)
END
GO
/****** Object:  StoredProcedure [dbo].[IntentoFallido]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[IntentoFallido]
	-- Add the parameters for the stored procedure here
	@Username nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET IntentosFallidos = IntentosFallidos+1 WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCliente]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarCliente]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Direccion nvarchar(100),
	@Email nvarchar(320),
	@NumTelefono nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Cliente SET Nombre = @Nombre, Apellido = @Apellido, Direccion = @Direccion, Email = @Email, NumTelefono = @NumTelefono WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarLibro]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarLibro]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@Autor nvarchar(50),
	@Nombre nvarchar(50),
	@Precio int,
	@Stock int,
	@MaxStock int,
	@MinStock int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Libro SET Autor = @Autor, Nombre = @Nombre, Precio = @Precio, Stock = @Stock, MaxStock = @MaxStock, MinStock = @MinStock WHERE ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarPassword]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarPassword]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Contraseña nvarchar(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Contraseña = @Contraseña WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarProveedor]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarProveedor]
	-- Add the parameters for the stored procedure here
	@CUIT nvarchar(11),
	@RazonSocial nvarchar(100),
	@Nombre nvarchar(50),
	@Email nvarchar(320),
	@NumTelefono nvarchar(50),
	@Direccion nvarchar(100),
	@CuentaBancaria nvarchar(34)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Proveedor SET RazonSocial = @RazonSocial, Nombre = @Nombre, Email = @Email, NumTelefono = @NumTelefono, Direccion = @Direccion, CuentaBancaria = @CuentaBancaria WHERE CUIT = @CUIT

END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarUsuario]
	-- Add the parameters for the stored procedure here
	@DNI int,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@FechaNac date,
	@Email nvarchar(320),
	@NumTelefono nvarchar(50),
	@Username nvarchar(20),
	@Rol nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET Nombre = @Nombre, Apellido = @Apellido, FechaNac = @FechaNac, Email = @Email, NumTelefono = @NumTelefono, Username = @Username, Rol = @Rol WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[PreRegistrarProveedor]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PreRegistrarProveedor]
	-- Add the parameters for the stored procedure here
	@CUIT nvarchar(11),
	@RazonSocial nvarchar(100),
	@Nombre nvarchar(50),
	@Email nvarchar(320),
	@NumTelefono nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Proveedor(CUIT, RazonSocial, Nombre, Email, NumTelefono, Activo) VALUES (@CUIT, @RazonSocial, @Nombre, @Email, @NumTelefono, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[RecibirProducto]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RecibirProducto]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@StockRecepcion int,
	@FechaEntrega datetime,
	@CodFactura nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE ItemOrden SET StockRecepcion = @StockRecepcion, FechaEntrega = @FechaEntrega, CodFactura = @CodFactura WHERE ISBN = @ISBN
	UPDATE Libro SET Stock += @StockRecepcion WHERE ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarFamilia]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarFamilia]
	-- Add the parameters for the stored procedure here
	@CodFamilia int,
	@Nombre nvarchar(50),
	@Tipo bit,
	@CodPermiso int,
	@CodComp int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Familia(CodFamilia, Nombre, Tipo, CodPermiso, CodComp) VALUES (@CodFamilia, @Nombre, @Tipo, @CodPermiso, @CodComp)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarItem]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarItem] 
	-- Add the parameters for the stored procedure here
	@CodFact int,
	@ISBN nvarchar(17),
	@Cantidad int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Item (CodFactura, ISBN, Cantidad) VALUES (@CodFact, @ISBN, @Cantidad)
	UPDATE Libro SET Stock = Stock-@Cantidad WHERE ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarItemOrden]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarItemOrden]
	-- Add the parameters for the stored procedure here
	@ISBN nvarchar(17),
	@CodOrdenCompra int,
	@Cotizacion int,
	@StockCompra int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO ItemOrden (ISBN, CodOrdenCompra, Cotizacion, StockCompra) VALUES (@ISBN, @CodOrdenCompra, @Cotizacion, @StockCompra)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarItemSolicitud]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarItemSolicitud]
	-- Add the parameters for the stored procedure here
	@CodSolicitud int,
	@ISBN nvarchar(17)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO ItemSolicitud (CodSolicitud, ISBN) VALUES (@CodSolicitud, @ISBN)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProveedor]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarProveedor]
	-- Add the parameters for the stored procedure here
	@CUIT nvarchar(11),
	@Direccion nvarchar(100),
	@CuentaBancaria nvarchar(34)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Proveedor SET Direccion = @Direccion, CuentaBancaria = @CuentaBancaria WHERE CUIT = @CUIT

END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProveedorCompleto]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarProveedorCompleto]
	-- Add the parameters for the stored procedure here
	@CUIT nvarchar(11),
	@RazonSocial nvarchar(100),
	@Nombre nvarchar(50),
	@Email nvarchar(320),
	@NumTelefono nvarchar(50),
	@Direccion nvarchar(100),
	@CuentaBancaria nvarchar(34)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Proveedor(CUIT, RazonSocial, Nombre, Email, NumTelefono, Direccion, CuentaBancaria, Activo) VALUES (@CUIT, @RazonSocial, @Nombre, @Email, @NumTelefono, @Direccion, @CuentaBancaria, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProveedorSolicitud]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarProveedorSolicitud]
	-- Add the parameters for the stored procedure here
	@CodSolicitud int,
	@CUIT nvarchar(11)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO ProveedorSolicitud(CodSolicitud, CUIT) VALUES (@CodSolicitud, @CUIT)
END
GO
/****** Object:  StoredProcedure [dbo].[ReiniciarIntentosFallidos]    Script Date: 04/11/2024 03:42:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ReiniciarIntentosFallidos]
	-- Add the parameters for the stored procedure here
	@Username varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario SET IntentosFallidos = 0 WHERE Username = @Username
END
GO
USE [master]
GO
